body {
  background-color: black;
  color: white;
}

nav {
  font-size: 20px;
  margin-bottom: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 30px;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 30px;
  font-family: 'Source Code Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
}



#home {
    text-align: center;
}

#home h1, h2, .nav_link {
  margin-top: 80px;
  font-family: 'Source Code Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
}

h2 {
  text-align: center;
  font-size: 20px;
}

.nav-link:hover {
  transition: 0.3s ease-in-out;
  color: lightyellow;
  font-size: 22px;
}


#headshot {
  position: fixed;
  width: 40%;
  margin-left: 60%;

}

.nav-section {
  height: 1000px;
  padding: 20px;

}

.nav-section h2 {


}

#about {
    background-color: grey;
}

#videos {
  height: 3000px;
}


/* footer {
  margin-top: 20px;
  position: absolute;
  bottom: 0;
} */
